body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
}

/* Layout principal */
.layout {
  display: flex;
  height: 100%;
}

/* Painel esquerdo */
.left-panel {
  width: 380px;
  background: #1e293b;
  padding: 25px;
  border-right: 1px solid #155ad1;
  overflow-y: auto;
}

/* Títulos */
h1 {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* Inputs */
select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Botão */
button {
  background: #1d72f3;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #155ad1;
}

/* Erro */
.error {
  color: red;
}

/* Resultado */
.result {
  background: #041234;
  padding: 10px;
  margin-top: 15px;
  border-radius: 4px;
}

/* Histórico */
.history {
  margin-top: 20px;
}

.history table {
  width: 100%;
  border-collapse: collapse;
}

.history th,
.history td {
  border: 1px solid #363433;
  padding: 6px;
  font-size: 14px;
}

.history th {
  background: #323239;
}

/* Painel do mapa (direita) */
.map-panel {
  flex: 1;
  height: 100;
}

/* Mapa ocupa tudo */
.map-container {
  width: 100%;
  height: 100%;
  width: 380px;
  background: #1e293b;
  padding: 600px;
  border-right: 1px solid #155ad1;
  overflow-y: auto;

  
}


